body {
	margin:0px;
	font-family: 'Roboto', sans-serif;
}

.menu {
	position:fixed;
	width:100%;
	background-color:#000;
	color:#fff;
	text-align:center;
	padding:10px 0px;
	z-index:10;
}

.menu a {
	padding:0px 10px;
	color:#fff;
	text-decoration:none;
}

.menu a:hover {
	text-decoration:underline;
}

.hero {
	width:100%;
	padding:200px 0px;
	background-image:url('https://vintageportland.files.wordpress.com/2012/06/sw-broadway-1950s.jpg');
	background-size:100%;
	text-align:center;
}

h1 {
	font-size:5em;
	font-weight:800;
	font-style:italic;
	color:#fff;
	margin-top:0px;
	margin-bottom:-30px;
}

h3 {
	font-size:2em;
	font-weight:600;
	font-style:italic;
	color:#fff;
	margin-bottom:0px;
}

h5 {
	font-size:1em;
	font-weight:600;
	color:#fff;
	margin-bottom:0px;
}

.content h1, .content h3, .content h5 {
	display:none;
	text-align:center;
}

.main {
	width:100%;
}

.content {
	width:60%;
	margin:0 auto;
	padding:60px 0px;
}

p {
	font-size:0.9em;
	color:#000;
}

blockquote {
	font-size:1.3em;
	color:#999;
	font-weight:600;
	font-style:italic;
}

.sectionhero {
	width:100%;
	padding:200px 0px;
	background-image:url('http://assets.blog.hemmings.com/wp-content/uploads//2013/03/FullertonCA1950s_2000.jpg');
	background-size:100%;
	text-align:center;
}



/*edits based on screen size*/

@media (max-width:900px) {
	.hero {
		background-size:130%;
	}

	.sectionhero {
		background-size:130%;
	}
}


@media (max-width:800px) {
	.content {
		width:90%;
	}

	.content h1, .content h3, .content h5 {
		display:block;
		color:#000;

	}

	.content h1 {
		font-size:2.5em;
		margin-top:-20px;
		margin-bottom:-15px;
	}

	.content h3 {
		font-size:1.25em;
		margin-bottom:10px;
	}

	.content h5 {
		font-size:0.9em;
		margin-bottom:20px;
	}

	blockquote {
		width:90%;
		margin:0 auto;
		font-size:1.1em;
	}

	.hero h1, .hero h3, .hero h5 {
		display:none;
	}

	.hero {
		padding:0px;
		height:40vh;
		background-size:120%;
	}

	.sectionhero {
		padding:100px 0px;
		background-size:120%;
	}

	.sectionhero h1 {
		font-size:3em;
	}
}