body {
	margin:0px;
}

.menu {
	position:fixed;
	width:100%;
	background-color:#000;
	color:#fff;
	text-align:center;
	padding:10px 0px;
	z-index:10;
}

.menu a {
	padding:0px 10px;
	color:#fff;
	text-decoration:none;
}

.menu a:hover {
	text-decoration:underline;
}


.main {
	width:100%;
	position:absolute;
	z-index:9;
	background-color:white;
}

.content {
	width:80%;
	margin:0 auto;
	padding:60px 0px;
	background-color:white;
}

.top {
	text-align: center;
}
	
hr {

    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.50), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.50), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.50), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.50), rgba(0,0,0,0)); 
}

h1 {
	font-family:"Playfair Display", serif;
	font-size:120px;
	color:#000000;
}

h3 {
	font-family:"Alice", serif;
	font-size:30px;
	color:#000000;
	text-align: center;
}

h5 {
	font-family:'Alice', serif;
	font-size:16px;
	font-weight:600;
	color:#000000;
}

.investigative {
	width: 100%;
}

.investigative h3 { 
	text-align: left;
	padding-bottom: 50;
}

.work {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 30%;
	height:100%;
	margin: 15px;
}

.work p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em; 
}

.top {
	font-family: 'Alice', serif;
	font-size:36px;
	color:#000;
}

.content {
	font-family: 'Alice', serif;
	font-size:12px;
	color:#000;
}


a:link {
	text-decoration:none;
	color:#696969;
}

a:hover { 
	text-decoration:underline;
	color:#696969;
}



/*edits based on screen size*/

@media (max-width:900px) {
	.hero {
		background-size:130%;
	}

	.sectionhero {
		background-size:130%;
	}
}


@media (max-width:800px) {
	.content {
		width:90%;
	}

	.content h1, .content h3, .content h5 {
		display:block;
		color:#000;

	}

	.content h1 {
		font-size:2.5em;
		margin-top:-20px;
		margin-bottom:-15px;
	}

	.content h3 {
		font-size:1.25em;
		margin-bottom:10px;
	}

	.content h5 {
		font-size:0.9em;
		margin-bottom:20px;
	}

	blockquote {
		width:90%;
		margin:0 auto;
		font-size:1.1em;
	}

	.hero h1, .hero h3, .hero h5 {
		display:none;
	}

	.hero {
		padding:0px;
		height:40vh;
		background-size:120%;
	}

	.sectionhero {
		padding:100px 0px;
		background-size:120%;
	}

	.sectionhero h1 {
		font-size:3em;
	}
}